div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 5s;
   /* transition-timing-function:ease-in;
    transition-delay: 2s;
    transform: rotate(90deg);
    transform: scale(1,2);
    position: absolute;
    top: 500px;
    left: 500px;*/
    transform: skew(60deg);
}
div:hover{
background-color: red;
color: white;
font-size: 30px;
}
div:active{
    background-color: pink;
}