*{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.header{
   background-color: black;
   color: white;
   height: 100px;
   display:flex;
   flex-direction: row;
}
.logo :hover{
color: blueviolet;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

